body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  display: flex;
  text-align: left;
  background-color: #ffffff;
  height: 100vh;
  color: rgb(5, 4, 4);
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin: auto;
}

.Main {
  display: flex;
}

.small-containers-group {
  display: flex;
  flex-direction: column;
  width: 30%; /* Assuming you want this group to take up the remaining 30% of the parent's width */
  gap: 10px;  /* Space between the small containers */
}

.container {
  width: 80%;
  max-width: 920px;
  margin: auto;
}

.logoBox {
  padding-top: 10px;
}

.logo {
  margin: 10px;
}

.small-asset {
  width: 200px;
  height: 50px;
}

.red-text {
  margin-top: 0px;
  color: red;
}

h1 {
  font-size: 50px;
}

.primaryColor {
  color: #000000;
}

.secondaryColor {
  color: rgb(0, 0, 0);
}

.mainForm {
  margin: 20px auto;
}

.mainForm input {
  margin-bottom: 30px;
  width: 120%;
  max-width: 400px;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid rgb(0, 0, 0);
  outline: none;
}

.mainButton {
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 1rem;
  border: 1px solid #e02aff;
  outline: none;
  background-color: #e02aff;
  color: rgb(255, 0, 0);
  font-weight: 900;
  margin-left: 10px;
  cursor: pointer;
  text-transform: uppercase;
}

.mainButton:hover {
  background-color: #000000;
}

.secondaryButton {
  float: left;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  border: 1px solid #000000;
  outline: none;
  background-color: black;
  color: rgb(255, 255, 255);
  font-weight: 700;
  margin-left: 0px;
  margin-top: 5px;
  cursor: pointer;
  text-transform: uppercase;
}

.secondaryButton:hover {
  background-color: rgb(0, 0, 0);
}

button:disabled,
button:disabled:hover {
  background-color: #b7aeb9;
  border-color: #b7aeb9;
  color: white;
  cursor: not-allowed;
  opacity: 0.5;
}

.loading-spinner {
  display: inline-block;
  margin: auto;
  width: 50px;
  height: 50px;
  border: 5px solid #fff;
  border-radius: 50%;
  border-top-color: #000000;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

.response {
  float: right;
  display: flex;
  flex-direction: column;
  height: 68vh;
  width: 500px;
  max-width: 500px;
  margin: 0px;
  margin-bottom: 50px;
  margin-right: -80px;
  text-align: left;
  padding: 10px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  overflow: auto;
}

.image-box {
  margin-top: 100px;
  margin: 0;
}

.chat-line {
  margin: 10px 0;
  white-space: pre-wrap;
}

.bold {
  font-weight: 800;
}

@media screen and (max-width: 600px) {
  .mainForm input {
    width: auto;
  }
}

